<nav class="site-header sticky-top py-1">
	<div
		class="container d-flex flex-column flex-md-row justify-content-between">
			<a class="py-2 d-none d-md-inline-block" routerLinkActive="active" routerLink="/ventes">Vente de vehicules</a> 
			<a class="py-2 d-none d-md-inline-block" routerLinkActive="active" routerLink="/carte-grise">Service carte grise</a> 
			<a class="py-2 d-none d-md-inline-block" href="#">Enterprise</a>
			<a class="py-2 d-none d-md-inline-block" href="#">Contactez-nous</a>
	</div>
</nav>