<app-navbar></app-navbar>
<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">HR AUTOS</h1>
		<p class="lead text-muted">Quod opera consulta cogitabatur astute,
			ut hoc insidiarum genere Galli periret avunculus, ne eum ut
			praepotens acueret in fiduciam exitiosa coeptantem. verum navata est
			opera diligens hocque dilato Eusebius praepositus cubiculi missus est
			Cabillona aurum secum perferens, quo per turbulentos seditionum
			concitores occultius distributo et tumor consenuit militum et salus
			est in tuto locata praefecti. deinde cibo abunde perlato castra die
			praedicto sunt mota.</p>
			<!-- 
			<a routerLinkActive="active" routerLink="/carte-grise" class="btn btn-primary my-2">Servicecarte grise</a> 
			<a routerLinkActive="active" routerLink="/ventes" class="btn btn-secondary my-2">Vente de vehicules</a>
			 -->
	</div>
	<router-outlet></router-outlet>
</section>

